<!doctype html>
<html>
<head> 
	<h1>Fruit and Yogurt Ingredients/Toppings</h1>
</head>

<body>
<h1><h2> <h3>Yogurt
<h4>Lowfat yogurt (cultured pasteurized nonfat milk, cream), evaporated cane sugar, water, coconut, natural flavor, fruit pectin, locust bean gum, guar gum, lemon juice concentrate, contains milk and coconut
</h4>
Fruit
	<ul>
        <li>Strawberries</li>
        <li>Oranges</li>
        <li>Apples</li>
        <li>Grapes</li>
        <li>Blueberries</li>
        <li>Granola</li>
	</ul>
</h3></h2></h1>
</body>
<h1><h2><a href="/menu"> Return to Menu </a></h2></h1>
</html>