<html lang="en">
<head>
    <title>Log in</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" media="all">
</head>
    <body>
    	<div class="box">
  			<h1>Log In</h1>
        <h2><a href="/menu">Dining Hall Menu</a></h2>
  			<form action="/list_of_tables" method="POST">
    			<input type="text" name="username" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" placeholder="Password" required/>
    			<br>
    			<input type="submit" class="button" value="Log In"/>
  			</form>
		</div>

</body>
</html>