<!doctype html>
<html>
   <head>
        <title>List of Tables</title>
        <link href="static/style.css" rel="stylesheet" type="text/css" media="all">
    </head>
   <body>

      <table border = 1>
         <thead>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Table No</td>
         </thead>

         {% for item in items %}
            <tr>
               <td>{{item.first_name}}</td>
               <td>{{item.last_name}}</td>
               <td>{{item.table_no}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>

   </body>
</html>