<!doctype html>
<html>
   <head>
        <title>List of Tables</title>
        <link href="static/style.css" rel="stylesheet" type="text/css" media="all">
    </head>
   <body>

       <h1>Tables Available</h1>
       <a href="preferences">Preferences</a>
       <!--
      <select>
        <option value="Major">Major</option>
        <option value="Class">Class</option>
        <option value="Activity">Activity</option>
      </select>
       -->
       <h2>Tables with People</h2>
      <ul>
         {% for table_no, people in all_tables.items() %}
            <li>
               Table {{table_no}}
               <ul>
                  {% for p in people %}
                     <li>
                        {{p[0]}}
                        <ul>
                           {% for attr in p[1] %}
                              <li>{{attr}}</li>
                           {% endfor %}
                        </ul>
                     </li>
                  {% endfor %}
               </ul>
            </li>
         {% endfor %}
      </ul>

      <h2>Empty Tables</h2>
      <ul>
          {% for i in empty_tables %}
            <li> Table {{i}} </li>
          {% endfor %}
      </ul>

      <a href = "/">Go back to home page</a>

   </body>
</html>
      <a href = "/">Go back to home page</a>

   </body>
</html>
