<!doctype html>
<html>
   <head>
        <title>List of Tables</title>
        <link href="static/style.css" rel="stylesheet" type="text/css" media="all">
    </head>
   <body>
       <a href="preferences">Preferences</a>
       <!--
      <select>
        <option value="Major">Major</option>
        <option value="Class">Class</option>
        <option value="Activity">Activity</option>
      </select>
       -->

      <ul>
         {% for table_no, people in all_tables.items() %}
            <li>
               Table {{table_no}}
               <ul>
                  {% for p in people %}
                     <li>
                        {{p[0]}}
                        <ul>
                           {% for attr in p[1] %}
                              <li>{{attr}}</li>
                           {% endfor %}
                        </ul>
                     </li>
                  {% endfor %}
               </ul>
            </li>
         {% endfor %}
      </ul>

<!--       <table border = 1>
         <thead>
            <td>Name</td>
            <td>Table</td>
            <td>Type</td>
         </thead>

         {% for item in items %}
            <tr>
               <td>{{item[1]}}</td>
               <td>{{item[2]}}</td>
               <td>{{item[3]}}</td>
            </tr>
         {% endfor %}
      </table>
 -->
      <a href = "/">Go back to home page</a>

   </body>
</html>
