<!doctype html>
<html>
    <head>
    <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

<h1><h2><a href="/"> Return to Homepage </a></h2></h1>

<ul style="list-style-type:circle">
    <li>Breakfast (7 AM- 11 AM)
    	<ul>
    		<li><a href="/pancakes">Pancakes</a></li>
    		<li><a href="/pancakes">Waffles (Contains gluten</a></li>
    		<li><a href="/bacon">Bacon (Contains meat)</a></li>
    		<li><a href="/fruit">Fruit and Yogurt (Contains dairy)</a></li>
    	</ul>
	</li>
    <li>Lunch (11:15 AM- 2:15 PM)
        <ul>
            <li><a href= "/tenders">Chicken Tenders (Contains meat, gluten)</a></li>
            <li><a href= "/vegburg">Veggie Burgers (Buns contain gluten)</a></li>
            <li><a href= "/pizza">Pizza (Contains dairy, gluten, but can be made gluten-free upon request)</a></li>
        </ul>
    </li>
    <li>Dinner (5:30 PM- 10 PM)
    	<ul>
        	<li><a href= "/pasta">Pasta</a> with:
        		<ul>
        			<li><a href="#">Alfredo Sauce (Contains dairy)</a></li>
        			<li><a href="#">Diavolo Saurce</a></li>
        			<li><a href="#">Meat Sauce (Contains meat)</a></li>
        			<li><a href="#">Pesto</a></li>
        		</ul>
        	</li>
        	<li><a href="#">Quiche (Contains dairy)</a></li>
        	<li><a href="#">Salad (Some toppings may contain meat or dairy)</a></li>
        </ul>
    </li>
    <li>Dessert</li>
        <ul>
            <li><a href="#">Vanilla Ice Cream (Contains dairy)</a> with:
            	<ul>
            		<li><a href="#">Chocolate Sauce</a></li>
            		<li><a href="#">Sprinkles</a></li>
            		<li><a href="#">Caramel</a></li>
            	</ul>
            </li>
        <ul>
            <li><a href="#">Dairy-free Vanilla Ice Cream (Contains soy)</a> with:
            	<ul>
            		<li><a href="#">Chocolate Sauce</a></li>
            		<li><a href="#">Sprinkles</a></li>
            		<li><a href="#">Caramel</a></li>
            	</ul>
            </li>
        </ul>

    <li>Snacks (SERVED DURING HOURS 7 AM- 10 PM)
    	<ul>
    		<li><a href="#">Brussel Sprouts</a></li>
    		<li><a href="#">French Fries</a></li>
    		<li><a href="#">Bread and Peanut Butter (Contains peanuts)</a></li>
    	</ul>
    </li>
</ul>

    <h1><h2><h3> <a href="/">Return to Homepage</a></h3> </h2></h1>
	</body>
</html>
