<!doctype html>
<html>
    <head>
    <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

<h2><a href="/login"> Return to Homepage </a></h2>

<ul style="list-style-type:circle">
    <li>Breakfast (7 AM- 11 AM)
    	<ul>
    		<li><a href="\pancakes">Pancakes</a></li>
            <li>Pancakes</li>
    		<li>Waffles (Contains gluten</li>
    		<li>Bacon (Contains meat)</li>
    		<li>Fruit and Yogurt (Contains dairy)</li>
    	</ul>
	</li>
    <li>Lunch (11:15 AM- 2:15 PM)
        <ul>
            <li>Chicken Tenders (Contains meat, gluten)</li>
            <li>Veggie Burgers (Buns contain gluten)</li>
            <li>Pizza (Contains dairy, gluten, but can be made gluten-free upon request)</li>
        </ul>
    </li>
    <li>Dinner</li> (5:30 PM- 10 PM)
    	<ul>
        	<li>Pasta with:
        		<ul>
        			<li>Alfredo Sauce (Contains dairy)</li>
        			<li>Diavolo Saurce</li>
        			<li>Meat Sauce (Contains meat)</li>
        			<li>Pesto</li>
        		</ul>
        	</li>
        	<li>Quiche (Contains dairy)</li>
        	<li>Salad (Some toppings may contain meat or dairy)</li>
        </ul>

    <li>Dessert</li>
        <ul>
            <li>Vanilla Ice Cream (Contains dairy) with:
            	<ul>
            		<li>Chocolate Sauce</li>
            		<li>Sprinkles</li>
            		<li>Caramel</li>
            	</ul>
            </li>
        <ul>
            <li>Dairy-free Vanilla Ice Cream (Contains soy) with:
            	<ul>
            		<li>Chocolate Sauce</li>
            		<li>Sprinkles</li>
            		<li>Caramel</li>
            	</ul>
            </li>
        </ul>

    <li>Snacks (SERVED DURING HOURS 7 AM- 10 PM)
    	<ul>
    		<li>Brussel Sprouts</li>
    		<li>French Fries</li>
    		<li>Bread and Peanut Butter (Contains peanuts)</li>
    	</ul>
    </li>
</ul>

    <h2> <a href="/login">Return to Homepage</a> </h2>
	</body>
</html>
