<!doctype html>
<html>
    <head>
        <title>Table</title>
    </head>
    <body>
    <form action = "http://localhost:5000/exit" method = "POST">
            Names <br>
           <p>Name1 <input type = "text" name = "Name1" /></p>
           <p>Name2 <input type = "text" name = "Name2" /></p>
           <p>Name3 <input type = "text" name = "Name3" /></p>
           <p>Name4 <input type = "text" name = "Name4" /></p>
            Would you like to sit with others? <br>
            <input type="radio" name="sit" value="sit-with-others"> Yes<br>
            <input type="radio" name="sit" value="sit-alone"> No<br>
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </body>
</html>



