<!doctype html>
<html>
    <head>
        <title>Table</title>
    </head>
    <body>
        Names <br>
        <input type="text" id="name1"><br>
        <input type="text" id="name2"><br>
        <input type="text" id="name3"><br>
        <input type="text" id="name4"><br>
        Would you like to sit with others? <br>
    <!-- on click - next page -->
        <button type="button" onclick="" id="sit-with-others">Yes</button>
        <button type="button" onclick="" id="sit-alone">No</button>
    </body>
</html>