<!doctype html>
<html>
    <head>
    <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

<ul style="list-style-type:circle">
    <li>Breakfast
    	<ul>
    		<li>Pancakes</li>
    		<li>Waffles</li>
    		<li>Bacon</li>
    		<li>Fruit and Yogurt</li>
    	</ul>
	</li>
    <li>Lunch
        <ul>
            <li>Chicken Tenders</li>
            <li>Veggie Burgers</li>
            <li>Pizza</li>
        </ul>
    </li>
    <li>Dinner</li>
    	<ul>
        	<li>Pasta with:
        		<ul>
        			<li>Alfredo Sauce</li>
        			<li>Diavolo Saurce</li>
        			<li>Meat Sauce</li>
        			<li>Pesto</li>
        		</ul>
        	</li>
        	<li>Quiche</li>
        	<li>Salad</li>
        </ul>

    <li>Dessert</li>
        <ul>
            <li>Ice Cream with:
            	<ul>
            		<li>Chocolate Sauce</li>
            		<li>Sprinkles</li>
            		<li>Caramel</li>
            	</ul>
            </li>
        </ul>

    <li>Snacks:
    	<ul>
    		<li>Brussel Sprouts</li>
    		<li>French Fries</li>
    		<li>Bread and Peanut Butter</li>
    	</ul>
    </li>
</ul>

	</body>
</html>
